body {
  background-color: rgb();(85,85,85);
}
.eae{
  background: #555;
  color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.botao{
  width: 500px;
  height: 50px;
  background-image: url(fortnitedance.gif);
  border-radius: 10px;
  display: block;
  color: white;
}

#eumesmo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 20%;
  padding: 16px;
  padding-top: 102px;
  border-radius: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
  text-align:center;
  color:white;
  font-family: Helvetica;
  
}

.texto{
  width: 500px;
  height: 100px;
  text-align:center;
  color:white;
  font-family: Helvetica;
  font-size: 0.8em;
  border-bottom: 6px dotted black;
}

body::-webkit-scrollbar { 
  display: none; 
}